@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(../imagens/espaco-g.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

div {
    height: 50vh;
    width: 50vh;
    background-image: url(../imagens/astronauta.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}