@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E846C5, #E383F5);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #673b6e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A04DDB;
    text-align: center;
    text-shadow: 1px 1px 2px #6b3392c0;
}

h2 {
    color: #7E49F2;
}

p {
    text-align: justify;
}